<!DOCTYPE html>

<link rel="stylesheet" href="{{ url_for('static', filename='anytime.css') }}" />
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script src="{{ url_for('static', filename='anytime.js') }}"></script>

<head>
   <title>Current Status</title>
</head>

<body>
   <h1>Slow Cooker</h1>

   <form method="post" action="/setalarm">
     <input type="text" onClick="this.select();" name = "temperature" id="temperature" value="Enter temperature (F)" />
     <input type="text" onClick="this.select();" name = "cooktime" id="cooktime" value="Enter cooking time (minutes)" />
     <input type="text" name = "alarmtime" id="alarmtime" value="12:34" />
     <script>
        AnyTime.picker( "alarmtime",
        { format: "%H:%i", labelTitle: "Alarm time",
          labelHour: "Hours", labelMinute: "Minutes" } );
    </script>
    <input type="submit" value="Set alarm">
  </form>
  <br><br>
  <form method="post" action="/cooknow">
    <input type="text" onClick="this.select();" name = "temperature" id="temperature" value="Enter temperature (F)" />
    <input type="text" onClick="this.select();" name = "cooktime" id="cooktime" value="Enter cooking time (minutes)" />
   <input type="submit" value="Cook now">
 </form>

    <br><br>
   <button onclick="location.href='/toggle';">Toggle Outputs</button>
   <button onclick="location.href='/cancel';">Cancel Alarm</button>
   <button onclick="location.href='/turnoff';">Turn Off Heater</button>

   <p>device_status: {{status_dict["device_status"]}} <br></p>
   <p>coil_activate: {{status_dict["coil_activate"]}} <br></p>
   <p>coil_status: {{status_dict["coil_status"]}} <br></p>
   <p>alarmtime: {{status_dict["alarm"]} <br></p>
   <p>cooktime: {{status_dict["cooktime"]}} <br></p>
   <p>temperature_target: {{status_dict["temperature_target"]}} <br></p>
   <p>temperature_actual: {{status_dict["temperature_actual"]}} <br></p>

   <p>current time: {{time}}<br></p>
</body>
</html>
